*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width:  992px;
    margin: 0 auto;
}
/* header start */
header{
    width: 100%;
    height: 500px;
    background-image: url("./images/donation4.jpg");
    background-repeat: no-repeat;
    position: relative;
    
}
.header-article{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
}
.article-header{
    color: rgb(0, 0, 0);
    
}
.header-text{
    color: aliceblue;
   margin: 30px;
    
}
.btn{
    width: 100px;
    height: 50px;
    background-color: darkgoldenrod;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    color: wheat;
    margin-bottom: 10px;
}
.btn:hover{
    box-shadow: 2px 2px 4px wheat;
}
/* header end */
/* main start */
.main-1{
    text-align: center;
    margin: 30px;
}
.main-1 h2{
    margin-bottom: 20px;
}
.main-1 p{
    margin-bottom: 20px;
   
}
.tk{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.tkOne{
    background-color: rgb(236, 236, 250);
    width: 100px;
    padding: 24px;
    margin: 9px;
}
.tkT{
    background-color: rgb(222, 109, 111);
    border: 1px solid red;
        width: 100px;
        padding: 24px;
        margin: 9px;
}
.tkF{
    background-color: rgb(236, 236, 250);
        width: 100px;
        padding: 24px;
        margin: 9px;
}
.tkTen{
    background-color: rgb(236, 236, 250);
        width: 106px;
        padding: 24px;
        margin: 9px;
}
.tkFiveH{
    background-color: rgb(236, 236, 250);
        width: 106px;
        padding: 24px;
        margin: 9px;
}
.amount{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.sectionBtn {
    text-align: center;
    padding: 50px;
       
}
.btnOne{
    background-color:#B88610 ;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 6px;
    transition: all .4s;
}
.btnOne:hover{
    box-shadow: 2px 2px 4px rgb(45, 45, 43);
}

/* main end */
.ourDonate{
    text-align: center;
}
.ourDonate h2{
    margin-bottom: 10px;
}
.ourDonate p{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.food{
    background-color: #ccaa59;
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    transition: all .5s;
}
.food:hover{
    box-shadow: 4px 4px 5px black;
    transform: rotate(2deg);
}
.food h3{
    text-align: center;
    margin-bottom: 10px;
}
.family{
    background-color: #ccaa59;
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    transition: all .5s;
}
.family:hover {
    box-shadow: 4px 4px 5px black;
    transform: rotate(2deg);
}
.family h3{
    text-align: center;
    margin-bottom: 10px;
    color: wheat;
}
.education{
    background-color: #6e035a;
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    transition: all .5s;
}
.education:hover {
    box-shadow: 4px 4px 5px black;
    transform: rotate(2deg);
}
.education h3{
    text-align: center;
        margin-bottom: 10px;
}

.lift-right{
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}
.lift{
    width: 50%;
    margin: 10px;
}
.lift h1{
    text-align: center;
    margin-bottom: 10px;
}
.lift p{
    text-align: justify;
    margin-bottom: 20px;
    padding: 30px;
}
.lift-btn{
width: 150px;
height: 50px;
background-color: #B88610;
border: none;
border-radius: 5px;
}
img{
    width: 100%;
    height: 300px;
    border-radius: 7px;
}

.TwoAside{
    display: flex;
}
.asideText{
    margin: 20px;
}
.asideText h1{
    text-align: center;
    margin-bottom: 20px;
}
.asideText p{
    text-align: justify;
    margin-bottom: 20px;
}

.updates{
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}
.inputBtn{
    background-color: #f4c5c5;
    margin: 0 auto;
    width: 500px;
    height: 100px;
    border-radius: 6px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
height: 50px;
border-top-left-radius: 6px;
border-bottom-left-radius:6px ;
border: none;
  
}
.btnSubmit{
    height: 50px;
    width: 90px;
    border: none;
    background-color: #B88610;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
footer{
    height: 100px;
   
    background-color: black;
    color: wheat;
}
footer h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer p{
   text-align: center;
}